<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

</head>

<body>

	<h3>Attributs de Thymeleaf</h3>
	<p>Le contenu des attributs Thymeleaf peut être du simple texte ou une expression qui sera interprétée
		par Thymeleaf à l'exécution. Les expressions sont délimitées par:
	</p>
	</br>
	${...} : pour les expressions à évaluer </br>
	*{...} : pour les expressions de selection à évaluer </br>
	@{...} : pour les expressions d'url </br>
	~{...} : pour les expressions de fragment </br>

	<h3 th:text="${message}"></h3></br>
	<div th:text="${player.name}">Dawan</div>

	</br>
	<h3>Boucle for sur la liste des players:</h3></br>

	<table border="1">
		<thead>
			<tr>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="p : ${allPlayer}">
				<td th:text="${p.name}">**********</td>
			</tr>
		</tbody>
	</table>

	</br>
	<h3>Condition IF:</h3></br>
	<div th:if="${player.name.length > 5}">
		Votre nom: <span th:text="${player.name}">condition non vérifiée</span>
	</div>

	</br>
	<h3>Condition IF/Unless:</h3></br>
	<span th:if="${player.name.length > 5}"> supérieur à 5</span>
	<span th:unless="${player.name.length > 5}">inférieur à 5</span>

	</br></br>
	<a th:href="@{/produits/display}">Gestion des produits (<a th:href="@{/load}">Charger les données de test</a>)</a>


</body>

</html>